<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign up</title>
    <link rel="icon" href="{% static "logo/icon.jpg" %}" type="image/icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
    <link rel="stylesheet" href="{% static "css/signup.css" %}" />

    </style>
</head>

<body>
    <section id="nav-bar" style="
    background: rgba(0,0,0,0.3);
">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transprent">
            <img src="{% static "logo/new.png" %}" style="
                height: 45px;
                margin-top: -2px;
                margin-bottom: 5px;" />
            <h3 class="home" style="color:white;margin-bottom:.6rem;">Weather App</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto" style="font-size: 20px">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">LOG IN</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'signup' %}">SIGN UP</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-6 col-lg-5 mx-auto">
                <div style=" margin: 20px 15px; margin-right: 50px;">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <div class="alert alert-success" style="
    text-align: center;"> {{ message }} </div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h3 style="text-align: center">Get your city's weather information with Awesome WeatherApp!!
                        </h3>
                        <h4 class="card-title mt-3 text-center">Create Account</h4>
                        <form action="" method="post">
                            {% csrf_token %}

                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                {{ frm.username}}
                            </div>
                            <div>
                                <div>
                                    {{ frm.username.errors }}
                                </div>

                            </div><!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                </div>
                                {{ frm.email}}
                            </div>
                            <div>
                                <div>
                                    {{ frm.email.errors }}
                                </div>
                            </div> <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                {{ frm.password}}
                            </div>
                            <div>
                                <div>
                                    {{ frm.password.errors }}
                                </div>
                            </div>
                            <!-- form-group// -->
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                {{ frm.confirm_password}}
                            </div>
                            <div>
                                <div>
                                    {{ frm.confirm_password.errors}}
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
                            </div> <!-- form-group// -->
                            <p class="text-center">Have an account? <a href="{% url 'login' %}">Log In</a> </p>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>