@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css?family=Lato");
/*body {
  background: url("12.jpg") no-repeat;
  background-size: cover;
}*/
.navbar {
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 1) !important;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  float: right;
}
#nav-bar ul li a:hover {
  color: white;
}
.display-4 {
  color: teal;
  font-family: "Merriweather", serif;
}
.col-sm-12 {
  margin-top: 85px;
}
.btn {
  background: rgb(87, 87, 241);
  color: #f8f9fa;
  margin-left: 5px;
  border-radius: 50px;
  margin-top: 5px;
}
h2 {
  text-align: center;
}
.jumbotron-python {
  margin-top: -32px;
  border-radius: 0;
  background-size: cover;
  color: white;
  background-attachment: fixed;
}
.jumbotron-full {
  margin-top: 64px;
  padding: 2rem 1rem;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.lead {
  font-family: "Lato", sans-serif;
}
.social-links a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 10px;
  font-size: 18px;
  font-size: 1.125em;
  display: inline-block;
  margin: 0 5px;
  text-align: center;
  color: white;
  line-height: normal;
}
.facebook {
  background-color: #3b5999;
}
.google-plus {
  background: #dd4b39;
}
.instagram {
  background: #e4405f;
}
.home {
  background-image: linear-gradient(90deg, #ffc73f 0, #fd3459);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@media only screen and (min-width: 418px) and (max-width: 991px) {
  .nav-item {
    margin: 0 auto;
  }
  p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 575px) {
  #cityDiv {
    margin: auto;
    text-align: center;
    width: 80%;
  }
  .img-responsive {
    width: 235px;
    margin-top: -8px;
    height: 232px;
    margin-left: -10px;
  }
}
@media only screen and (max-width: 470px) {
  .nav-item {
    margin: 0 auto;
  }}